.body-container {
    background-color: hsl(0, 0%, 19%); 
    
}

nav {
    background-color: rgb(20, 19, 21);
    color: #cdcdcd;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between; 

    box-shadow: 1px 2px 9px rgba(0, 0, 0, 2);
}

.left-section {
    display: flex;
    align-items: center;
}

nav h4 {
    margin: 0;
    color: #cdcdcd;
}

nav ul {
    margin: 0;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}

nav li {
    list-style: none;
}

nav li a {
    color: #cdcdcd;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
    transition: color 0.33s ease;
}

nav li a:hover {
    color: #fff; 
    text-decoration: none;
    text-shadow: 
        0 0 1px rgba(36, 255, 2, 0.8),
        0 0 3px rgba(2, 200, 255, 0.8);
}

.logo {
    width: 33px;
    height: 33px;
    margin-right: 10px;
}

.card-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 30px;
}

.card {
    box-shadow: 
    0 0 22px rgba(0, 0, 0, 0.907),
    0 0 29px rgba(0, 0, 0, 0.651),
    0 0 33px rgba(0, 0, 0, 0.736);
}

.btn {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.9);
}


/* save-switch */
.custom-switch-input:checked + .custom-switch-label {
    background-color: #000;
    color: #cdcdcd;
}

.custom-switch-input:checked + .custom-switch-label::before {
    background-color: #cdcdcd;
}

.custom-switch-input {
    display: none;
}

.custom-switch-label {

    position: relative;
    width: 50px;
    height: 24px;
    background-color: #555;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-switch-label::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background-color: #cdcdcd;
    border-radius: 50%;
    transition: transform 0.3s;
}

.custom-switch-input:checked + .custom-switch-label::before {
    transform: translateX(26px);
}

.switch-container {
    display: flex;
    align-items: center;
}

.save-text {
    margin-left: 10px; 
}